# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Other compilations
debug/*
example/loopback/debug/*
# Qt stuff
moc_*.cpp
Makefile
Makefile.*
*.pro.user
*.pro.user.*
