# Compiled Object files
*.slo
*.lo
*.o
*.exe

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Other compilations
debug/*
example/loopback/debug/*
example/WakeClient/debug/*
example/WakeServer/debug/*

# Qt stuff
moc_*.cpp
qrc_*.cpp
Makefile
Makefile.*
*.pro.user
*.pro.user.*
*-build-*
*.autosave
